# Apple Mac .gitignore
.DS_Store

# Vagrant .gitignore
.vagrant

## Linux .gitignore
# Swap (from github.com/github/gitignore) [License: CC0 v1 Universal]
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Docker .gitignore

# Ansible related .gitignore
site.retry
ansible.log


